
// Import only what you need from Bulma

/*@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";*/

/*
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;
}*/
/*
.navbar-item{
    color: whitesmoke;
}

#barre {
    position:sticky;
    top: 0;
    //background-color: #4865a5;
    color: whitesmoke;
    text-align: center;
    padding:0.5em;
}

.barreTitre {
    font-size: 1.2rem;
    font-weight: bold;
}

.barreAuteur {
    font-style: italic;
}

.barreItem {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    max-width:20%;
    vertical-align: middle;
}

.box {
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius:5px;
    box-shadow: 1px 1px 2px #333;
}

.bold {
    font-weight: bold;
}


main {
    max-width: 600px;
    margin: auto;
    //padding: 1em;
}



.tag {
    width:fit-content;
    font-style: italic;
    font-size: 0.9rem;
    margin: 2px;
    padding: 2px;
    display: inline-block;
    color: sienna;
}




p {
    margin-bottom: 1em;
}

*/

nav {
    border-bottom: solid 1px black;
}
.verse {
    margin: 0px;
    margin-bottom: 0px;
    padding-left: 2em;
    text-indent: -2em;
}
#tags {
    margin-left:auto;
    width:fit-content;
    text-align: right;
}
.tags {
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;
}
.right{
    float: right;
    font-style: italic;
}
.is-none {
    display: none;
}

//.icon-pli{
    //transform: rotate(-90deg);
//}
/*
.is-deplie{
    //transition: transform 0.5s;
    transform: rotate(90deg)
}*/



@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";

@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";

@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/level.sass";

@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/bulma.sass";
//@import "../node_modules/bulma-prefers-dark/bulma-prefers-dark.sass";

@import "../node_modules/bulmaswatch/darkly/_variables.scss";
@import "../node_modules/bulmaswatch/darkly/_overrides.scss";

.entry-content p:not(:last-child){
    margin-bottom: 0.4em;
    margin-block-end: 0
}